<div class="form">
	<h3>
		Login
	</h3>
	<form name="loginForm" ng-submit="login()" >
		<div class="form-group"
		     ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty}">
			<input class="form-control" name="email" type="email"
			       placeholder="Email" required ng-model="session.email" />
       <span class="help-block"
             ng-show="loginForm.email.$error.required && loginForm.email.$dirty">Required</span>
		 <span class="help-block"
		       ng-show="loginForm.email.$error.email && loginForm.email.$dirty">Please enter a valid email</span>
		</div>
		<div class="form-group"
		     ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
			<input class="form-control" name="password" type="password"
			       placeholder="Password" required ng-model="session.password" />
       <span class="help-block"
             ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Required</span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right"
			        value="Login" title="Login" ng-disabled="!loginForm.$valid">
				<span>Login</span>
			</button>
		</div>
	</form>

	<div class="link">
		<a ui-sref="signup">
			Create a new Account!
		</a>
	</div>

</div>
